.sellerComp{
    background-color: #1C204B;
    width: 20%;
    border-radius: 10px;
    max-height: 518px;
}

.dataTime{
list-style: none;
padding: 0;
font-family: "Rubik", sans-serif;
font-optical-sizing: auto;
font-style: normal;
padding: 10px 20px;
}

.dataTime li{
    color: #7078C9;
    margin-top: 20px;
}
.weekly{
    color: #FFFFFF !important;
}

@media screen and (max-width: 800px) {
    .sellerComp {
        width: 70%;
        margin: auto;
    }
    .dataTime{
        display: flex;
        justify-content: space-between;
    }
  }